* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}


/* setting liste */
li {list-style-type: none;}

li {margin-top: 18px;}

ul {margin-top: 25px;}


/* setting button */
.button {
    padding: 5px 10px;
    border: 0;
}


/* flex setting */
.flex {display: flex;}

.flex-wrap {flex-wrap: wrap;}

.flex-basis-un-terzo {flex-basis: calc(100% / 3);}

.font-size {font-size: 13px;}

.flex-wrap {flex-wrap: wrap;}

.flex-colum {flex-direction: column;}

.justify-content-center {justify-content: center;}

.justify-content-space-between {justify-content: space-between;}

.justify-content-space-around{
    justify-content: space-around;
}

/* margin setting */
.margin-auto {margin: auto;}

.margin-18 {margin: 18px;}

.margin-top-80 {margin-top: 80px;}

.margin-tot {padding:15px 0 40px 395px ;}

.margin-top-45 {margin-top:45px;}

.margin-top-30 {margin-top: 30px;}

.margin-bottom-80 {margin-bottom: 80px;}



/* padding setting*/
.padding-70-0 {padding: 70px 0;}

.padding-45 {padding: 55px 0;}
    
.padding-rigth-10 {padding-right: 10px;}

.padding-5 { padding: 5px }

.padding-30 { padding-top: 30px }

.padding-bottom-40 {padding-bottom: 40px;}

.padding-bottom-30 {padding-bottom: 30px;}



/* width */
.width-100 {width: 100%;}

.width-190 {width: 190px;}

.width {width: 80%;}



/* background color */
.background-color-blu {background-color: blue;}



/* body */
header {
    padding: 5px 10px;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 3;
}

.section-1 {
    background-color:rgb(132, 189, 211);
    width: 100%;
}

footer {
    background-color: rgb(23, 23, 23);
}
/* fine-body */


/* logo info */
.align-item-center {
    align-items: center;
}

/* titolo immagini */
.contenitore-titolo-img {
    width: 55%;
}

.contenitore-provagratuita {
    width: 350px;
    margin-top: 60px;
}

.img-jumbo {
    height: 450px;
    position: relative;
    top: 70px;
    margin-left: 40px;
}

div.contenitore-provagratuita h5 {
    margin-bottom: 100px;
}

div.contenitore-provagratuita button {
    margin: 35px 0;
}

/* piano business */
.contenitore-piano {
    width: 45%;
    margin-top: 100px;
}

div.contenitore-fatturazione h5 {
    display: inline-block;
    margin-right: 30px;
}

.contenitore-fatturazione {
    margin-top: 35px;
}

div.contenitore-business > div{
    margin: 40px 0;
}

 /* 3 card */
 
.border-solid {
    border: 2px solid rgb(203, 203, 203);
}

.border-solid-bottom {
    border-bottom: 2px solid rgb(203, 203, 203);
}

.text-align-center {
    text-align: center;
}

.memoria {
    padding: 10px 0;
}

div.margin-auto  h5,span{
    margin: 8px 0 ;
}

hr {
    width: 20%;
}

/* section team */
.section-team {
    width:45%;
}

div.justify-content-space-around h5 {
    margin-top: 10px;
}

/* immagine testo trova partner */
.immagine-partner {
    height: 350px;
    width: 450px;
}

.contenitore-partner { 
    padding:40px 45px ;
}

.button-partner {
    background-color: white;
    color: grey;
    border-color: grey;
}

/* cards */
.cards {
    width: 280px;
    height: 220px;
    margin-top: 35px;
}

/* sezione-quadrati */
.width-50 {
    width: 50%;
    aspect-ratio: 1
}

.width-50 img {
    width: 50%;
}

.verde {
    background-color: #abd892;
    border: 15px solid #d5ecc9;
}

.img-designit {
    height: 100px;
}

.contenitore-img-designit {
    padding: 60px;
}

/* Dropbox Business */
.background-color-becca {
    background-color: rgb(190, 204, 234);
}

section.background-color-becca button {
    background-color: white;
    width: 250px;
    border: 0;
}

.contenitore-domande {
    padding: 25px 0;
}

/* info */
.contenitore-info{
    width: 68%;
    margin: auto;
}

div.contenitore-info li {
    font-size: 13px;
}

div.margin-tot hr {
    width: 100px;
}

